body {
  font-size: 2em;
  color: white;
  font-family: 'Open Sans', sans-serif;
  background: #455a64;
  width: 100%;
  margin: 0 0;
}

a {
  color: white;
  font-size: 0.8em;
}

ul {
  margin-top: 0.2em;
}

li {
  list-style: none;
  font-size: 0.75em;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 1em;
  padding-top: 1em;
}

.header {
  background: #37474f;
  padding: 1em;
}

.header > h1 {
  margin: 0;
}

.member {
  flex-basis: 20em;
  margin: 1em;
}

.member-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;  
}

.member-details {
  flex-basis: 10em;
  margin-left: 2em;
}

.member-details > h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.member-photo {
  height: 5em;
  flex-basis: 5em;
  margin-left: 0;
  border-radius: 50%;
}

.member-photo-face {
  opacity: 1;
  height: 5em;
  border: 5px solid white;
  margin-left: 0;
  border-radius: 50%;  
}

.member-photo-dealwithit {
  opacity: 0;
  top: -5.6em;
  left: 0;
  height: 5em;
  width: 5em;
  border: 5px solid #00000000;
  margin-left: 0;
  border-radius: 50%;
  position: relative;
}

.member-photo-dealwithit:hover {
  opacity: 1;
}

.members-header, .topic-header {
  flex-basis: 100%;
  text-align: center;
}

.members-container, .topic-container, .used-tech {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
}

.hour-log {
  width: 100%
}

.hour-log-current td {
  border-bottom: 1px solid white;
}

.section-title-major, .section-title-minor {
  margin-bottom: 0;
  margin-top: 0;
}

.section-title-major {
  background: #546e7a;
  padding: 0.75em 0.75em;
}

.section-title-minor {
  background: #546e7a;
  padding: 0.5em 0.5em;
}

.used-tech img {
  object-fit: contain;
  max-width: 6em;
  margin: 2em 2em;
}

.burnup img {
  max-width: 80%;
}