body {
  font-size: 2em;
  color: white;
  font-family: 'Open Sans', sans-serif;
  background: #455a64;
  width: 100%;
  margin: 0 0;
}

li {
  list-style: none;
  font-size: 0.75em;
}

.header {
  background: #37474f;
  padding: 1em;
}

.header > h1 {
  margin: 0;
}

.member {
  flex-basis: 20em;
  margin: 1em;
}

.member-details {
  display: inline-block;
  height: 5em;
  margin-left: 2em;
}

.member-details > h3 {
  margin-top: 0;
  margin-bottom: auto;
}

.member-photo {
  border-radius: 50%;
  height: 5em;
  display: inline-block;
  border: 5px solid white;
  margin: auto;
}

.members-header, .topic-header {
  flex-basis: 100%;
  text-align: center;
}

.members-container, .topic-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
}